<body>
<!-- Modal 1 -->
 <div class="portfolio-modal modal fade modal-xl" id="line_follow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Line Follow</h3>
                <h4 class="text-center"> microcontrollers | C  |  teensy  | PCB | PID | Line Follow | </h4>
            </div>
           
            <!-- Modal body -->
            <div class="modal-body">
                <p>Description</p>

                <p>Being an active member at the <a href="http://robotics-club.upatras.gr/">RoboticsClub</a> as an undergraduate student
                    I got heavily involved in the world of robotics. In this club, we design and program small robots.
                    To be more specific I learned how to design and manufacture PCB boards and how all the individual parts come together to assemble a final product(robot).
                    Later on, I moved to code on micro-controllers( teensy 3.2) and did my first tunning in PID controls.
                    Me and my team got awarded many times the first prize at international ROBOTEX competition(one of the biggest in EU) in the category ”Following
                    Line”(2016-2018) and ”Following Line Enhanced”(2016-2018)
                    
                </p>

                <p>OverView</p>

                <p>
                    In this particular project, we participated in 2 competitions line-following & line-following enhanced. 
                    The objective of this contest is for a robot to 
                    follow a black line on a white background, 
                    without losing the line, and navigating several 90 degree turns. 
                    The robot to complete the course in the shortest period while accurately tracking the course line from start to finish wins. While on enhanced the track contains some obstacles (brick, hill, seesaw, circle).
                </p>
                
                <p></p>
                <p>Robot OverView</p>

                <p class="text-center">
                    <img class="center" src="img/portfolio/line_follow/dromeas_details-768x512.png" class="img-responsive" alt="two_agents.gif" style="width:70%"></p>
                    <p class="text-center">Fig. 1 DownForce Robot</p> 
               
                <p>
                    Our robot is equipped with encoders at its wheels for better control in velocity and turns.
                    The recognition of the black line is done with 14 reflectance sensors. The chassis of it is his PCB board.
                    Everything is held together by custom 3D printed parts.
                    Expect electrical parts such as sensors, microcontrollers, motors everything else is designed and manufactured by me and my team.
                    One novelty at that time was the electric fan that was added, increasing the robot’s friction leading to better performance.
                </p>

                <p class="text-center">
                    <img class="center" src="img/portfolio/line_follow/Dromeas_diagram-768x562.png" class="img-responsive" alt="two_agents.gif" style="width:70%"></p>
                    <p class="text-center">Fig. 2 Robots compartments</p> 
               

                <p>Videos of our robots in action:</p>

                <p>

                <iframe class="center" width="420" height="315" src="https://www.youtube.com/embed/OsIGDOAo_n0">  </iframe>
                <iframe class="center" width="420" height="315" src="https://www.youtube.com/embed/KY3NL1Kg6F8">  </iframe>
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>