 <!-- Modal 1 -->
 <div class="portfolio-modal modal fade modal-xl" id="jack_and_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Jack in a Box</h3>
                <!-- <h4 class="text-center">Augmented Reality | OpenCV  |  Unity  |  Computer Vision  | 3D Tracking | 3D Registration | </h4> -->
            </div>
           
            <!-- Modal body -->
            <div class="modal-body">
                
                <p>UNDER CONSTRUCTION</p>
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <!-- <p></p>
                    <form action="https://arxiv.org/pdf/2003.01092.pdf" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Full paper</button>
                     </form>
                     <p></p> -->
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>