<section class="no-padding" >
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Mobile 3D Printer Bot</h3>
                <h4 class="text-center"> Python  |  SLAM  | Automation | Design | MoveIT | Arm Manipulation | Laser Cut | 3D Print</h4>
            </div>
              <!-- Modal body -->
              <div class="modal-body">
                <p class="text-center">
                <iframe width="525" height="394"
                src="https://www.youtube.com/embed/DFzjV_SccTI?autoplay=1&mute=1&loop=1">
                </iframe>
                </p>

                <h3>Description</h3>       
                <p>In this project, I assembled a new configuration using turtlebot parts in order
                    to create a new robot. 
                    Additionally, this robot is equipped with a custom melting mechanism on which wax will be placed. As the robot is navigating and the wax is dripping from the melting mechanism constructions such as ramps, 
                    walls and drawings will be created.</p>
                <p> 
                    The idea of the project is to make a fully automated mobile 3D printing system where repetition, 
                    refueling, precision, and safety are the priorities. 
                    The goal is to create a robot that is reliable and robust and can be used as a tool in reality(as a product), and not just within the margins of a project.
                    Having that as a goal being able to easily map and then localize the robot's position in a real complex-dynamic environment where people interfere, or the robot starts from a different location or printing is being paused and then resumed are problems that need to be addressed and solved. Also since the melting mechanism is really hot and big lipo batteries are being used safety is also a main concern.
                </p>

                <h3>Demonstration</h3>        
                <p>The following video is a demonstration of drawing a face</p>
                <p class="text-center">
                    <iframe width="525" height="394"
                    src="https://www.youtube.com/embed/25Jx5d8m44U?&mute=1&loop=1">
                    </iframe>
                </p>
                <p class="text-center">Draw a emoji face</p>

                
                <p>At the following video the robot will construct 2 lines and then navigate over them</p>
                <p class="text-center">
                    <iframe width="525" height="394"
                    src="https://www.youtube.com/embed/Nv3IgJ5PP84?&mute=1">
                    </iframe>
                </p>
                <p class="text-center">Construct 2 lines</p>
                

                 
                <p>At the next video the robot will encounter obstacles that are not able to go over them, hence it will print a ramp in order to over come them.</p>
                <p class="text-center">
                    <!-- <iframe width="525" height="394"
                    src="https://www.youtube.com/embed/Nv3IgJ5PP84?&mute=1">
                    </iframe> -->
                    <img src="../img/portfolio/builder/mountain.JPEG" class="img-responsive" alt="Project 1">

                </p>
                <p class="text-center">Construct a ramp</p>
                <p class="text-center">video is not edited yet</p>


                <h3>Overview</h3>                
                <p></p>
                
                <h3>4DOF Robotic Arm Manipulation</h3>        
                <p>For the manipulation of the arm, Moveit is used. The goal of the arm is to refuel the turtlebuilder with wax. The pick and place positions are considered fixed. However, these positions are changing as the project is being developed, plus we want to be robust. Hence an easy way of tuning the positions has to be made. Since the robot is 4 DOF, polar coordinates are defined on a YAML file plus one more value for orientation. This way, tuning the correct positions with 1-2 iterations is much easier for a human. The pick and place node reads these polar coordinates, translates them to the correct format (cartesian, quaternion), and generates two additional pre-grasping positions for each pick and place. Additionally, the environment ( collision objects) has been added to the Moveit scene plus the candle object, which is being attached and detached from the end effector's arm.</p>
                <p>Using this implementation, an example of pick and place is below:</p>
                <div class="row no-gutter">
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/px100.gif" alt="refill_3.gif" style="width:90%">
                    </div>
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/px100_rViz.gif" alt="refill_4.gif" style="width:80%">
                    </div>
                </div>
                
                <h3>Mapping and Localization</h3>        
                <p>The slam toolbox is used for mapping the environment. Using a single launch file at the current implementation, we can easily navigate and create a new map and save it. Making it easy to relocate our construction site to a different place expecting identical behavior.</p>
                <p>Below is the real environment and the map generated for it:</p>
                <div class="row no-gutter">
                    <div class="col-lg-6">
                        <img src="../img/portfolio/builder/map_real_ed.png" alt="map" style="width:90%">
                    </div>
                    <div class="col-lg-6">
                        <img src="../img/portfolio/builder/map_ed.png" alt="map" style="width:52%">
                    </div>
                    
                </div>
                <p class="text-center">Fig XX Map of real world</p>
                <p>This project is heavily dependent on repetition since we need to repeat the cycle of refuel-print multiple times for hours. Hence we can not count on odometry since there would be accumulative errors for the position. AMCL algorithm is used for localization by tunning his parameters, such as based more on lidar sensor than the odometry for navigating. It is also important to mention that no external system, such as a camera April tag, defines or corrects our position. In order to help the localization algorithm, Placing in the environment some tubes help improve its performance. After tuning and mapping, the system can be placed in any environment and follow its path reliably for hours. Also, changes in the environment, such as humans moving through it or a misplaced cube, do not affect it, and the accuracy is less than a centimeter.</p>
                <h3>State Machine</h3>        
                <p></p>


                <h3>Simulation</h3>        
                
                
                <p>a Gazebo world was made similar to the actual environment where various tests were made to confirm the code's resilience to noise and unexpected behaviors. For example, since this project is heavily dependent on repetition, A ros node was implemented that adds odometry noise. Confirming that the accumulative error will not affect the localization algorithm and will always correct the position.</p>
                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/builder/gazebo_world.gif" class="img-responsive" alt="Pen recognition" style="width:35%"></p>
                <p class="text-center">Fig XX Gazebo Example </p>
                
                
                
                <p>Similar to 3D printing, the construction process takes several hours in this project. Therefore before starting a printing process, we need to ensure that the code is correct. Therefore, fake nodes are being used for both robots (robotic arm, builder robot) to rapidly see on rViz where the robot is being commanded to navigate with which direction, etc. Also, markers are essential with colors for different states (print mode on/off) or arrow markers displaying the desired position and direction.</p>
                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/builder/launch_all.gif" class="img-responsive" alt="Pen recognition" style="width:35%"></p>
                <p class="text-center">Fig XX Rviz Example </p>

                <p>It is also worth mentioning that using one launch file, we can easily switch between using the actual robot to gazebo simulation or fake nodes or launching only the arm or the builder robot, and everything will be launched correctly with zero error messages or warnings.</p>

                <h3>Refuell</h3>      
                <p>An essential aspect of this project is automation, and human interference should be limited. Hence a robotic arm with 4 DOF was used to refill the robot with candles. A ros service has been implemented in which the robot will stop printing, shut down the melting mechanism, go in front of the arm and refuel its tank with more wax. The arm's trajectory was implemented using Moveit, where the environment and the current position of the builder robot are added, ensuring the avoidance of colliding with it or any other object. Also, a slider was designed ( using laser cut) where the arm picks the candles from there one by one. A human is only needed to refill the slider.</p>
                <div class="row no-gutter">
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/refill_1.gif" alt="refill_1.gif" style="width:100%">
                    </div>
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/refill_2.gif" alt="refill_2.gif" style="width:100%">
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/refill_3.gif" alt="refill_3.gif" style="width:100%">
                    </div>
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/refill_4.gif" alt="refill_4.gif" style="width:100%">
                    </div>
                </div>
                <p class="text-center">Fig. XX Refilling builder robot using a robotic arm</p>

            

                <h3>Disposal Mechanism For Melting Wax</h3>       
                <p>
                    After various iterations of design and experimenting with different nozzles and heating elements, I decided to create a heating bed made out of aluminum and use a flexible polyimide heater plate as the heating element. I waterjet the aluminum and bend it, giving it a shape similar to an arrow with a slot at the end for dripping the wax. I placed the heating elements and a temperature sensor at the back of this arrow-shaped plate. Aluminum was chosen since it can withstand high temperatures and is suitable for heat transfer. Finally, the bed is sealed with heat-resistant silicone, and at the end of the arrow, a spring is placed blocking big chunks of wax, ensuring that the dripping slot is not blocked.
                </p>


                <div class="row no-gutter">
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/heating_bed_desing.gif" alt="power_source" style="width:70%">
                    </div>
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/heating_bed.jpeg" alt="power_source" style="width:70%">
                    </div>
                </div>
                <p class="text-center" >Fig XX Power Source Control</p>


                <h3>Power Source Device</h3>        
                <p>In addition to the heating bed, a power source case was designed and made using a lazer cut machine.</p>
                <p>In this case we have:</p>
                <ol style="font-size:16px">
                    <li>3.3V Relay connected at the Rasp for activating the heating system using ROS.</li>
                    <li>Temperature display/relay sensor to keep the heating bed within the desired margins and avoid overheating.</li>
                    <li>Display showing the current Voltage and consumption on the battery for debugging purposes, such as if we draw current and monitor the battery conditions.</li>
                    <li>Two fans connected in series are placed at the front for a faster cooldown of wax.</li>
                    <li>on/off switch</li>
                </ol>

                <div class="row no-gutter">
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/power_source_design.gif" alt="power_source" style="width:70%">
                    </div>
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/power_source.gif" alt="power_source" style="width:100%">
                    </div>
                </div>
                <p class="text-center" >Fig XX Power Source Control</p>


                <h3>Recycling</h3>        
                <p>One reason wax is selected as a material is that it can be reused. We can either directly take scrap wax and now use it for printing or recreate the cylinder shape to be used later with the robotic arm.</p>
                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/builder/recandle.gif" class="img-responsive" alt="Pen recognition" style="width:80%"></p>
                <p class="text-center">Fig. XX Recycle wax</p>
                
                <h3>Cool Down</h3>       
                <p>The robot is equipped with fans at the front and back to speed up the printing process. The fans drastically decrease the amount of time needed for the wax to cool down, so the builder robot will be able to step on it faster.</p>
                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/builder/cool_down.gif" class="img-responsive" alt="Pen recognition" style="width:80%"></p>
                <p class="text-center">Fig. XX Cooling wax with fans</p>
                
                
                <h3>Safety</h3>    
                <h4>Battery Safety</h3>    
                <p>Lipo batteries have a high chance of starting a fire if not treated correctly. So the first measure is that the robot is equipped with a screen (see left image figure XX). The voltage and current are displayed on the screen to monitor the battery's condition. Also, an extra component (see right image figure XX) is connected directly to the battery, checking each cell of it, and if any cell drops its Volt below a certain threshold, an alarm sound will start.</p>
                
                <div class="row no-gutter">
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/VoltageDisplay.png" alt="Snow" style="width:100%">
                    </div>
                    <div class="col-lg-6">
                      <img src="../img/portfolio/builder/battCheck.png" alt="Forest" style="width:70%">
                    </div>
                </div>

            
                <p class="text-center" >Fig XX Battery Safety</p>
                <p></p>


                <h4>Hot Surface Safety</h3>    
                <p>For the melting mechanism, a special sticker is placed on it. If the surface of the device is hot, then the sticker appears, indicating that we should not touch it. Also a temperture sensor is being used in order to avoid overheat. </p>
                

                
                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/builder/hot_surface.gif" class="img-responsive" alt="Pen recognition" style="width:35%"></p>
                <p class="text-center">Fig. XX Hot Surface</p>
                <p></p>
                <p></p>
                <h4>Code Safety</h4>    
                <p>The printing environment is done on a table. The chance of the robot falling from the table and getting damaged was severe, especially while developing this project. Hence a ros service was made that will stop the robot. This service would kill necessary nodes, stop various actions and block cmd velocity, ensuring that the robot will stop moving.</p>






                <h3>Robot Maintance</h3>    
                <p>The printing process is not ideal, leading the caterpillar treads of the robot to get filled with wax after multiple hours of printing. Although this does not affect the performance of the builder robot, below is an example of self-cleaning the treads using a gun that blows hot air.
                </p>
                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/builder/self_clean.gif" class="img-responsive" alt="Pen recognition" style="width:35%"></p>
                <p class="text-center">Fig. XX Self Cleaning</p>
                <p></p>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/jimas95/construction-plant" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" onclick="history.back()">Close Project</button>
                </div>
            </div>
          
        </div>
    </div>
</div>
</section>