<section class="no-padding" >
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Mobile 3D Printer Bot</h3>
                <h4 class="text-center"> Python  |  SLAM  | Automation | Design | MoveIT|</h4>
            </div>
            
          
        </div>
    </div>
</div>
</section>