<!-- Modal 2 -->
<div class="portfolio-modal modal fade modal-xl" id="pick_and_place" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Pick & Place</h3>
                <h4 class="text-center">ROS  |  MoveIt  |  PincherX 100  |  Robotic Manipulation  |</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Description</h3>       
                <p>This project was one of my first ones while learning ROS. 
                    The goal is to pick a box and leave it somewhere else. 
                    No computer vision was used. Instead, I simulated in Moveit the scenery of my desk. 
                    we attach the grabbing object in order to avoid any collisions while moving it away. </p>
                <p></p>
                
                <h3>Overview</h3>       
                <p>The setup of our world is that the robot sits on top 
                    of a table that is on top of another table. In front of it, 
                    there is an object that we consider as an obstacle. Right from this obstacle 
                    (in respect to the robot), there is another object. The goal is to figure out a path in
                     order to grab the object and while avoiding our box obstacle leave the object on the other side. 
                    Below we see a demonstration of it at rViz(figure 1) and using the real robot(figure 2).

                <p></p>                   
                <p class="text-center">
                    <video autoplay loop muted playsinline>  
                        <source src="img/portfolio/pick_and_place/rViz_arm.mp4" type="video/mp4">  
                    </video>  
                </p>
                <p class="text-center">rViz Pick & Place Fig.1 </p> 
                <p></p>

                <p></p>
                <p class="text-center">
                    <video autoplay loop muted playsinline>  
                        <source src="img/portfolio/pick_and_place/real_arm.mp4" type="video/mp4">  
                    </video>  
                </p>
                <p class="text-center">Real Robot Fig 2 </p>
                <p></p>


              
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/jimas95/homework-3-jimas95/tree/main/arm_move" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>