<!-- Modal 2 -->
<div class="portfolio-modal modal fade modal-xl" id="multi_agent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Mobile Manipulation</h3>
                <h4 class="text-center">Matlab  |  Multiple Agents  |  Obstacle Avoidance  | Real Time | Reciprocal Velocity   |</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h3>Description</h3>       
                <p>In this project, 
                the project is based on this paper <a href="https://ieeexplore.ieee.org/document/4543489">Reciprocal Velocity Obstacles for real-time multi-agent navigation</a>                    .</p>
                <p></p>
                
                <h3>Overview</h3>       
                <p>The projects covers the following topics:</p>
                <p></p>
                <p class="text-center">
                    <img class="center" src="img/portfolio/multi_agent/velocity_triangle.png" class="img-responsive" alt="velocity_triangle.png" style="width:70%"></p>
                <p></p>
                <h4 style="font-size:20px">----------------</h4> 
                <p class="text-center">
                    <img class="center" src="img/portfolio/multi_agent/two_agents.gif" class="img-responsive" alt="two_agents.gif" style="width:70%"></p>
                <p></p>
                
                <h3>Results</h3>
                <h4 style="font-size:20px">Below we test the algorithm at different scenarios</h4> 
                
                <p class="text-center">
                    <img class="center" src="img/portfolio/multi_agent/3_agents_obstacles.gif" class="img-responsive" alt="3_agents_obstacles" style="width:80%"></p>
                <p class="text-center">3 agents with different size and obstacles</p>
                <h4 style="font-size:20px">With this example we see that the algorithm is able to correspond at different agent sizes and obstacles</h4> 
                
                <p class="text-center">
                    <img class="center" src="img/portfolio/multi_agent/8_agents_circle_sampling.gif" class="img-responsive" alt="8_agents_circle_sampling" style="width:80%"></p>
                <p class="text-center">Maximum acceleration on/off.</p>
                <h4 style="font-size:20px">With this example we see that having maximum acceleration the result is a smooth trajectory </h4> 
        
                
                <p class="text-center">
                    <img class="center" src="img/portfolio/multi_agent/40_agents_square_obstacles.gif" class="img-responsive" alt="40_agents_square_obstacles" style="width:80%"></p>
                <p class="text-center">40 agents with squared obstacles </p>
                <h4 style="font-size:20px">This is a more complicate example with 40 agents and squared obstacles.</h4> 
                
                <p class="text-center">
                    <img class="center" src="img/portfolio/multi_agent/10_agents_alinged_moving_obstacle.gif" class="img-responsive" alt="10_agents_alinged_moving_obstacle" style="width:80%"></p>
                <p class="text-center">10 agents alinged crossing a round & square obstacle</p>
                <h4 style="font-size:20px"></h4>At this example we see that some agents go with full speed and pass the moving object while other agents slow down and pass after the moving obstacle.</h4> 
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/jimas95/Multi-Agent-Navigation" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>