<section class="no-padding">
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="text-center modal-title">OPT - Ocean Power Technologies</h3>
                </div>

                <!-- Modal body -->
                <div class="modal-body">


                    <p class="text-center">
                        <img class="center" src="../img/portfolio/OPT/wamv-rainbow.jpg" class="img-responsive"
                            alt="Multi-Sensor Fusion" style="width:70%">
                    </p>

                    <p><strong>Description</strong></p>
                    <p>Joining <a href="https://oceanpowertechnologies.com/">Ocean Power Technologies (OPT)</a> as a
                        Senior Robotics Engineer has been a thrilling journey. At OPT, we are pioneering cutting-edge
                        technologies to harness the power of the ocean for sustainable energy and advanced maritime
                        solutions. Below, I delve into the key aspects of my work and the innovative projects I'm part
                        of.</p>

                    <p><strong style="font-size: 1.5em; color: #2c3e50; text-transform: uppercase;">Perception Pipeline
                            Development</strong></p>
                    <p>Safety and situational awareness are critical for our marine operations. I've been leading the
                        development of advanced perception systems, with a focus on high performance and reliability.
                        Key aspects include:</p>
                    <ul>
                        <li><strong>Collision Avoidance:</strong> We integrated a stereo depth camera, capable of
                            detecting obstacles up to 100 meters away, with pre-trained neural networks. This system,
                            developed using C++ for optimal performance, segments images into sky, sea, and obstacles.
                            By combining this segmentation with depth data and the vessel's speed and heading, we can
                            detect potential collisions and trigger an emergency stop before it's too late.</li>
                        <li><strong>Versatility in Environments:</strong> Our system is designed to function in both
                            open seas and narrow paths like ports. It can detect a range of objects from large ships to
                            small buoys, ensuring safety in diverse maritime settings. This adaptability is crucial for
                            robust and reliable operations.</li>
                        <li><strong>Real-Time Processing:</strong> Utilizing advanced computer vision techniques and
                            real-time data processing, our system provides immediate feedback and decision-making
                            capabilities, crucial for avoiding obstacles and navigating safely.</li>
                    </ul>
                    <p class="text-center">
                        <img class="center" src="../img/portfolio/OPT/obstacle_avoidance.gif" class="img-responsive"
                            alt="Collision Avoidance System" style="width:70%">
                    </p>
                    <p class="text-center">Fig. 1: Demonstration of the collision avoidance system in action.</p>

                    <p><strong style="font-size: 1.5em; color: #2c3e50; text-transform: uppercase;">Next Phase:
                            Multi-Sensor Fusion</strong></p>
                    <p>Building on our current capabilities, the next phase involves developing a comprehensive sensor
                        package that fuses data from multiple sources. This will enhance the system's redundancy and
                        robustness, ensuring reliable performance in various sea conditions. The sensor package will
                        include:</p>
                    <ul>
                        <li><strong>Maps and AIS Data:</strong> Integrating navigational maps and Automatic
                            Identification System (AIS) data to provide context-aware navigation and situational
                            awareness, enabling the system to identify and track nearby vessels effectively.</li>
                        <li><strong>Radar Sensors:</strong> Adding radar capabilities to detect and monitor objects even
                            in low visibility conditions, such as fog or heavy rain, enhancing the system’s ability to
                            operate safely in adverse weather.</li>
                        <li><strong>Sensor Fusion:</strong> Combining data from cameras, radar, maps, and AIS to create
                            a comprehensive environmental model. This fusion will provide a more accurate and reliable
                            understanding of the surroundings, improving decision-making and operational safety.</li>
                    </ul>

                    <p><strong style="font-size: 1.5em; color: #2c3e50; text-transform: uppercase;">MIT
                            Collaboration</strong></p>
                    <p>One of the cornerstone projects is our partnership with the <a
                            href="https://seagrant.mit.edu/">MIT Sea Grant Lab</a>. This collaboration focuses on
                        advancing the autonomy of oceanic surface vehicles through the integration of MOOS-IvP
                        (Mission-Oriented Operating Suite - Intelligent Vehicle Protection). Our work includes:</p>
                    <ul>
                        <li><strong>Advanced Mission Planning:</strong> Together, we are developing complex algorithms
                            that empower our oceanic surface vehicles to autonomously navigate and execute precise
                            tasks. These algorithms enable our vessels to adapt to dynamic marine environments, making
                            real-time decisions to optimize their missions.</li>
                        <li><strong>Swarm Control and Behavioral Dynamics:</strong> By integrating the <a
                                href="https://oceanai.mit.edu/ivpman/pmwiki/pmwiki.php?n=Helm.MOOSIvPIntroduction">MOOS-IvP
                                system</a> (Mission-Oriented Operating Suite - Intelligent Vehicle Protection), we have
                            unlocked new capabilities for coordinated operations. This includes implementing behaviors
                            such as:
                            <ul>
                                <li><strong>Waypoint Following:</strong> Enabling vessels to
                                    navigate precisely and efficiently between predefined points, essential for
                                    hydrographic surveys. also supports the automatic generation of waypoints.
                                <li><strong>Convoy Mode:</strong> Enabling multiple vessels to operate cohesively,
                                    maintaining formation and distance for enhanced operational efficiency.</li>
                                <li><strong>Intercept and Obstacle Avoidance:</strong> Empowering vehicles to detect and
                                    navigate around obstacles, ensuring safe and reliable operations in congested or
                                    hazardous areas.</li>
                            </ul>
                        </li>
                        <li><strong>Real-World Applications:</strong> Our collaboration aims not just at theoretical
                            advancements but also at practical implementations. These technologies are set to
                            revolutionize marine operations, from autonomous cargo transport and environmental
                            monitoring to defense applications.</li>
                    </ul>
                    <div class="row no-gutter">
                        <div class="col-lg-6">
                            <img src="../img/portfolio/OPT/moos-waypoints.gif" alt="Waypoint Follow" style="width:90%">
                        </div>
                        <div class="col-lg-6">
                            <img src="../img/portfolio/OPT/moos-follow.gif" alt="Follow Path Mode" style="width:90%">
                        </div>
                    </div>
                    </p>
                    <p class="text-center">Fig. 3: Collaborative efforts with MIT on autonomous surface vehicles –
                        Waypoint Follow (left) and Follow Path Mode (right).</p>

                    <p>For more details on this collaboration, you can also check our <a
                            href="https://www.linkedin.com/posts/ocean-power-technologies_marinetechnology-autonomousvehicles-robotics-activity-7196117097402220545-_Dem?utm_source=share&utm_medium=member_desktop">LinkedIn
                            post about the MIT MOOS project</a>, which provides insights into our ongoing efforts and
                        achievements.</p>

                    <p>This collaboration not only advances our technological capabilities but also sets a new standard
                        for innovation in the field of autonomous marine robotics. The integration of MIT’s cutting-edge
                        research with OPT’s practical deployment expertise is paving the way for safer, more efficient,
                        and intelligent oceanic operations.</p>

                    <p><strong>Continuous Improvement and Innovation</strong></p>
                    <p>Through these initiatives, we are transforming marine robotics operations, pushing the boundaries
                        of what is possible in sustainable maritime technology. Our focus on integrating advanced
                        perception systems and autonomous behaviors is driving significant advancements in the safety
                        and efficiency of our oceanic operations. Stay tuned for more updates and insights as we
                        continue to innovate and explore new frontiers in ocean power.</p>

                    <p class="text-center">
                        <button type="button" class="btn btn-primary center" onclick="history.back()">Close
                            Project</button>
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>