<!-- Modal 2 -->
<div class="portfolio-modal modal fade modal-xl" id="grab_the_pen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Grab The Pen</h3>
                <h4 class="text-center"> Python  |  Color Detection  |  Vision Based Control  | Real Time | Motion Planning |</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h3>Description</h3>       
                <p>In This project, computer vision and motion planning is used to control a robotic arm to grab a pen and leave it iside a box.</p>
                <p>This project contains 2 parts:</p>
                <ol style="font-size:16px">
                    <li>A computer vision algorithm for recognizing the 3D location of a purple pen, using the realSense RGBD camera.
                        <br>The software recognize the pen by its color, and locate its coordinate using the 3D camera.</li>
                    <li>Controlling a PincherX 100 robotic arm to accurately grab the pen and leave it inside the box.</li>
                </ol>
                
                <p></p>
                <h3>Overview</h3>
                <h4 style="font-size:20px">Part 1 - Pen Recognition</h4> 
                <p>In order to locate the pen in the 3D space we used OpenCV2. 
                    <br>First step is to transform our RGB image to HSV where it is easier to filter the image and isolate only the purple color (see figure 1 left image).
                    <br>Since we have isolated the pen from the image we are detecting contours and keeping only the ones that exceed a threshold based on the contour area (see figure 1 right image).
                </p>
                <p>Now that we are able to detect the pen at the RGB image we know the location of the pen at the Depth image, and then retrieving the 3D coordinates.</p>
                
                <p class="text-center">
                    <img class="center" src="img/portfolio/grab_the_pen/detection.gif" class="img-responsive" alt="Pen recognition" style="width:80%"></p>
                <p class="text-center">Fig. 1 Pen recognition</p>
                <p></p>
                <h4 style="font-size:20px">Part 2 - Pen Grab</h4> 
                <p>In this part, The interbotix motion and control packages are used to move the arm to a specified coordinates and grab the pen.</p>
                <p>The arm motion can be split to 4 parts:</p>
                <ol style="font-size:16px">
                    <li>Move the arm to the specified coordinates with an open gripper. The coordinates of the pen found using the pen recognition on part 1</li>
                    <li>wait for 4 sec, if the goal coordinates have changed repeat step one otherwise continue</li>
                    <li>Close the gripper on the pen</li>
                    <li>Move the arm to a location above the box</li>
                    <li>Open the gripper and release the pen inside the box</li>
                </ol>
                <p>The following video is a demonstration of the grab the pen:</p>
                <p class="text-center">
                    <img class="center" src="img/portfolio/grab_the_pen/grab_the_pen.gif" class="img-responsive" alt="Pen stealing" style="width:80%"></p>
                <p class="text-center">Fig. 2 Grab The Pen</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://github.com/jimas95/hackathon" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>