 <!-- Modal 1 -->
 <div class="portfolio-modal modal fade modal-xl" id="paper2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">cMinMax: A Fast Algorithm to Find the Corners of an N-dimensional
                    Convex Polytope</h3>
                <h4 class="text-center">Image processing  |  Corner Detection  | Image Registration|  Convex Polygon Corner Detection Algorithm | </h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h4>It was published as a paper at conference GRAPP 2021.</h4> 
                <p class="text-center">
                    <img class="center" src="img/portfolio/paper_02/corner_detection.gif" class="img-responsive" alt="corner_detection" style="width:80%"></p>
                <p class="text-center">Fig. 1 Corner Detection</p>    

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <p></p>
                    <form action="https://arxiv.org/pdf/2011.14035.pdf" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Full paper</button>
                     </form>
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>