 <!-- Modal 1 -->
 <div class="portfolio-modal modal fade modal-xl" id="paper2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Recycler Baxter - Work in Progress</h3>
                <h4 class="text-center">ROS  |  Python  |  Computer Vision  |  Motion Planning  |  Inverse Kinematics  |  OpenCV  |  MoveIt</h4>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <p></p>
                <h4>This is an ongoing project. Here is a little teaser:</h4> 
                <p class="text-center">
                    <img class="center" src="img/portfolio/Baxter/Baxter.gif" class="img-responsive" alt="The Baxter in action" style="width:80%"></p>
                <p class="text-center">The Baxter in action</p>    
                <p class="text-center">
                    <img class="center" src="img/portfolio/Baxter/Baxter_sorting.gif" class="img-responsive" alt="Sorting bottles and cans"></p>
                <p class="text-center">Sorting bottles and cans</p>
                <p class="text-center">
                    <img class="center" src="img/portfolio/Baxter/realsense.png" class="img-responsive" alt="Recognizing and classifying bottles and cans" style="width:80%">
                <p class="text-center">Recognizing and classifying bottles and cans</p>  
                <p class="text-center">
                    <img class="center" src="img/portfolio/Baxter/CV.gif" class="img-responsive" alt="Recognizing and classifying bottles and cans" style="width:80%"></p>
                <p class="text-center">Recognizing and classifying bottles and cans</p>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <!-- <p></p>
                    <form action="https://github.com/YaelBenShalom" method="get" target="_blank">
                        <button type="submit" class="btn btn-primary">Check Project on Github</button>
                     </form> -->
                     <p></p>
                    <button type="button" class="btn btn-primary center" data-dismiss="modal">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>