<section class="no-padding" >
    <div class="container-fluid center">
        <div class="row no-gutter center">
            <div class="col-lg-8 col-lg-offset-2">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="text-center modal-title">Thiseas</h3>
                <h4 class="text-center"> | Microcontrollers | C  |  teensy  | PCB | PID | Maze Solving | </h4>
            </div>
           
            <!-- Modal body -->
            <div class="modal-body">
                
                <p>Description</p>

                <p>Being an active member at the <a href="http://robotics-club.upatras.gr/">RoboticsClub</a> as an undergraduate student
                    I got heavily involved in the world of robotics. In this club, we design and program small robots.
                    To be more specific during my second year in this club we moved to a more advance robot named Thiseas. With this robot we participated 
                    at Maze Solving competititions(Micromouse). 
                </p>
                
                <p>
                    During the development of this project I was heavily involved at:
                    <ul>
                        <li>Linerazition of sensors</li>
                        <li>Maze Solving algorithms & exploration (Floodfill)</li>
                        <li>Accurate localization using both odometry and distance sensors </li>
                        <li>Trajectory generation using parametric equations with position,velocity,acceleration </li>
                      </ul>
                </p>


                <p>Robot OverView</p>

                <p class="text-center">
                    <img class="center" src=" ../img/portfolio/thiseas/thiseas.jpg" class="img-responsive" alt="two_agents.gif" style="width:70%"></p>
                <p class="text-center">Fig. 1 Thiseas Robot</p> 
                    
                <p>OverView</p>

                <p>
                    The maze is made up of a 16×16 grid of cells, each 180 mm square with walls 50 mm high.
                    The mice are completely autonomous robots that must find their way from a predetermined starting position to the central area of the maze unaided. 
                    The mouse needs to keep track of where it is, discover walls as it explores, map out the maze and detect when it has reached the goal. 
                    Having reached the goal, the mouse will typically perform additional searches of the maze until it has found an optimal route from the start to the finish. 
                    Once the optimal route has been found, the mouse will run that route in the shortest possible time.    
                </p>
                
                <p></p>


                    
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-primary center" onclick="history.back()">Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>