<aside class="bg-primary" id="about">
    <div class="container-fluid text-center">
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>Academic Timeline.</h2>
            <hr class="light">
            <p class="text-faded">A little bit about me.</p>
        </div>
    </div>
</aside>




<link rel="stylesheet" href="css/agency.css" />
<!-- <link rel="stylesheet" href="css/makis.css" /> -->



<!-- About Section -->
<section>
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle" style="border-radius: 2000%" src="img/1_2.png" alt=""> -->
                            <!-- <img class="img-circle img-responsive" src="img/1_2.png" alt=""> -->

                            <img style="border-radius: 50%" src="img/about/xanthi.jpeg" alt="My picture" width="100%"
                                height="100%">

                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995-2013</h4>
                                <h4 class="subheading">Xanthi, Greece</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I was born and raised in Xanthi, Greece. At 2013 I graduated from
                                    hight School
                                    with 18.0/20 cumulative average. Got Admitted at the department of electrical and
                                    computer engineering in University of Patras.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/roboticClub.jpeg" alt="My picture"
                                width="100%" height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016</h4>
                                <h4 class="subheading"> RoboticsClub, Patra.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> During my ungergraduate years I became an active member at the <a
                                        href="http://robotics-club.upatras.gr/">RoboticsClub</a> untill 2019.
                                    This was my first experience with robots. I designed and manufactured PCB boards.
                                    Developed robotic algorithms(flood-fill) for micro-controllers with limited
                                    resources(teensy) and learned how to linearize distance sensors.
                                    Developed an online simulator to test the behavior of the robot in different
                                    environments.
                                    Me and my team got awarded many times the first prize at international ROBOTEX
                                    competition(one of the biggest in EU) in the category ”Following
                                    Line”(2016-2018) and ”Following Line Enhanced”(2016-2018)
                                </p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/iridaLabs.png" alt="My picture" width="100%"
                                height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017 Summer</h4>
                                <h4 class="subheading"> Irida Labs Center, Patra.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At summer of 2017 I worked as a student inter at <a
                                        href="https://iridalabs.com/">IridaLabs</a>.
                                    I got familiarized with depth-images processing techniques and worked
                                    on a project of a VSLAM algorithm with o monocular camera.
                                </p>
                            </div>
                        </div>
                    </li>


                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/athena.png" alt="My picture" width="100%"
                                height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019 Summer </h4>
                                <h4 class="subheading">Athena Research Center, Xanthi.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At 2019 I did another intership at <a
                                        href="http://clepsydra.ipet.gr/index.html">Athena Research Center</a>.
                                    There I worked on a project where we constructed a multi-spectrum camera using
                                    multiple raspberry pi’s that was attached to a drone
                                    and constructed the 3D model of the old town from my local city.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/University_of_Patras.png" alt="My picture"
                                width="100%" height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019 Oct. </h4>
                                <h4 class="subheading">University of Patras, Patra</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Graduate with an integrated Master degree (3.1 GPA)
                                    with a minor in Electronics & Computer from the Dept. of Electrical and Computer
                                    Engineering of the University of Patras.
                                </p>
                            </div>
                        </div>
                    </li>

                   <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/vecna.png" alt="Vecna Robotics" width="100%" height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2021</h4>
                                <h4 class="subheading">Vecna Robotics – Robotics Software Engineer Intern</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">During my internship at Vecna Robotics, I integrated a new warehouse robot into Gazebo simulation and developed perception and planning capabilities using URDF modeling. I also improved the accuracy of landmark detection and triangulation, ensuring the robot's operational efficiency in warehouse environments.</p>
                            </div>
                        </div>
                    </li>

                    
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/northwestern.png" alt="My picture"
                                width="100%" height="100%">

                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020</h4>
                                <h4 class="subheading">Northwestern University - Master in Robotics,Chicago</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">M.S. in robotics (GPA 3.96) at Northwestern University, Chicago.
                                </p>
                            </div>
                        </div>
                   

                    <li>
                        <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/rrLogo.jpeg" alt="My picture" width="100%"
                                height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2021</h4>
                                <h4 class="subheading">Robotic Research - Robotic Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Specialized in developing emergency and critical safety systems for autonomous vehicles, including Model Predictive Control (MPC) for braking and real-time data logging solutions that enhanced system efficiency and safety. </p>
                            </div>
                        </div>
                             </li>
                    </li>


               
                        <div class="timeline-image">
                            <img style="border-radius: 100%" src="img/about/OPT_logo.png" alt="My picture" width="100%"
                                height="100%">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2024</h4>
                                <h4 class="subheading">Ocean Power Technologies - Senior Robotics Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Advanced vehicle autonomy in collaboration with MIT on swarm control and mission planning. Led projects on marine obstacle detection using computer vision and neural networks. Built Docker-based CI/CD pipelines, automated software updates, and developed AWS data collection pipelines for fleet management and analysis.
                                </p>
                            </div>
                        </div>
                    
                </ul>
            </div>
        </div>
    </div>
</section>
