<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <p class="text-faded">I am a master’s student at Northwestern University’s Robotics program (MSR),
                    expected to graduate in the fall of 2021. </p>
                <p class="text-faded">I started my professional journey by gaining valuable hands-on experience as an electrical technician in the
                    Israeli Defense Forces and later as a mechanical engineer in both enterprise and defense technology applications. </p>
                <p class="text-faded">Looking forward, I wish to continue growing and challenge myself by joining the emerging world of robotics.
                    I am especially interested in autonomous robotics, self-driving vehicles and deep learning, and looking for job opportunities in related areas. </p>
                <br><br><br>
                <p class="text-faded">If you have any questions or opportunities, please feel free to contact me using the information below</p>
                <br>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Contact Me</a>
            </div>
        </div>
    </div>
</section>
