
<link rel="stylesheet" href="css/agency.css" />

<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <!-- <p class="text-faded">I am a master’s student at Northwestern University’s Robotics program (MSR),
                    expected to graduate in the fall of 2021. </p>
                <p class="text-faded">I started my professional journey by gaining valuable hands-on experience as an electrical technician in the
                    Israeli Defense Forces and later as a mechanical engineer in both enterprise and defense technology applications. </p>
                <p class="text-faded">Looking forward, I wish to continue growing and challenge myself by joining the emerging world of robotics.
                    I am especially interested in autonomous robotics, self-driving vehicles and deep learning, and looking for job opportunities in related areas. </p>
                <br><br><br> -->
                <p class="text-faded">If you have any questions or opportunities, please feel free to contact me using the information below</p>
                <br>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Contact Me</a>
            </div>
        </div>
    </div>
</section>

 

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">A little bit about me.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/1_2.png" alt=""> -->
                            <img style="border-radius: 100%" src="img/my_photo.jpg" alt="My picture" width="155" height="156">  

                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995-2013</h4>
                                <h4 class="subheading">Johannesburg, South Africa</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I was born and raised in Johannesburg, South Africa. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/1_2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014-2017</h4>
                                <h4 class="subheading">University of Cape Town - Bsc(Eng) mechatonics Hons.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After completing High School, I moved from Johannesburg to Cape Town where I attended the University of Cape Town. At UCT I studied a Bsc(Eng) in Mechatronics. I was on the Dean's merit list for my first three years and graduated my fourth year with honours in distinction. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/1_2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2018-September 2018</h4>
                                <h4 class="subheading">Explore Data science</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After graduating from UCT, I worked at Explore Data Science in Woodstock, Cape Town. As a part of the Explore team I created content to teach students at the data science academy various digital skills. These digital skills included python, machine learning and Java. My other main responsibility was to create a web-app to process written documentation submitted by students. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/1_2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2018</h4>
                                <h4 class="subheading">Northwestern University - Masters in Robotics</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I then started a M.S. in robotics at Northwestern University, Chicago. As part of the masters I learnt various skills related to robotics including ROS. I am also involved in various projects as part of courses and that I have pursued on my own time. These projects can be found in my portfolio above.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>More
                                <br>Coming 
                                <br>Soon</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>