<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img style="border-radius: 50%" src="img/my_photo.jpg" alt="My picture" width="300" height="300">  
                <br><br><br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">CONTACT INFORMATION</h2>
                <hr class="primary">
                <p><a href="mailto:chamzas95@gmail.com">chamzas95@gmail.com</a></p>
                <p>+1 224 659 3756</p>
                <br>
            </div>

        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://linkedin.com/in/{{ site.LinkedIn_username }}">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.LinkedIn_username }}</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.email }}</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.github_username }}</p> -->
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://scholar.google.com/{{ site.google_scholar_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.google_scholar_username }}</p> -->
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://orcid.org/{{ site.orcid_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.orcid_username }}</p> -->
            </a>
        </div>

    </div>
</section>
