<section >
    <div class="container-fluid text-center">
            <p></p>
            <h1>Take a look at my most recent projects</h1>
            <hr class="light">
            <a href="#portfolio_introduction" class="btn btn-primary btn-xl page-scroll">Robotic Projects </a>
            <a href="#simulation" class="btn btn-primary btn-xl page-scroll">Simulation Projects</a>
            <a href="#publications" class="btn btn-primary btn-xl page-scroll">Publications</a>
        </div>

</section>
