<aside class="bg-primary" id="portfolio_introduction">
    <div class="container-fluid text-center">
      <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>FEATURED PROJECTS</h2>
            <hr class="light">
            <p class="text-faded">A glance at my most recent projects</p>
      </div>
    </div>
</aside>


<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#paper2" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/Tower_Build/3-Cups-build-tower.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Baxter Tower Build
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#multi_agent" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/multi_agent/agents_circle.gif" class="img-responsive" alt="multi_agents">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Multi Agent
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#turtle_slam" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/turtle_slam/auto_explore.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                TurtleBot SLAM
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#grab_the_pen" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/grab_the_pen/grab_the_pen.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Grap The Pen
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#pick_and_place" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/pick_and_place/rViz_arm.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pick & Place
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project1" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/Tower_Build/3-Cups-build-tower.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Baxter Tower Build
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>


<!-- Baxter Tower Build
Robotic Arm Grab Pen
Simulator
Multy Agent
Thisseas Maze Solving
TurtleBot SLAM
Pick and Place
MileStone
Line Follow -->