<aside class="bg-primary" id="portfolio">
    <div class="container-fluid text-center">
      <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>ROBOTIC PROJECTS</h2>
      </div>
    </div>
</aside>



<section class="no-padding" id="portfolio">

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#cup_tower" class="portfolio-link" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/Tower_Build/final_cup.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Cup Tower Build
                            </div>
                            <div class="project-category text-faded">
                                Category
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Build a tower of cups (up to 5 floors) using Baxter robot.</h3></p>
                    </div>
                </a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#grab_the_pen" class="portfolio-link" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/grab_the_pen/grab_the_pen.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Grap The Pen
                            </div>
                     
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Grab a purple pen with color detection and depth camera. Place it inside a container using PincherX 100 robotic arm.</h3></p>
                    </div>
                </a>

            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="#turtle_slam" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/turtle_slam/auto_explore.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                TurtleBot SLAM
                            </div>
                        
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Autonomous Exploration with turtleBot.</h3></p>
                    </div>
                </a>
            </div>
        </div>



        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#multi_agent" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/multi_agent/agents_circle.gif" class="img-responsive" alt="multi_agents">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Multi Agent
                            </div>
                         
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Autonomous multi-agent navigation with collision avoidance.</h3></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#thiseas" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/thiseas/thiseas.jpg" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Thiseas
                            </div>
                          
                        </div>
                    </div>
                
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Autonomous Exploration of a maze with custom robot.</h3></p>
                    </div>
                </a>
            </div>  

            <div class="col-lg-4 col-sm-6">
                <a href="#line_follow" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/line_follow/robots.jpg" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Line Follow
                            </div>
                         
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Line Follow with custom robot.</h3></p>
                    </div>
                </a>

            </div> 

        </div>
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="#milestone" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/milestone/task_1.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                MileStone
                            </div>
                    
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>YouBot mobile manipulator grab and place objects.</h3></p>
                    </div>
                </a>

            </div> 

            <div class="col-lg-4 col-sm-6">
                <a href="#pick_and_place" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/pick_and_place/rViz_arm.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pick & Place
                            </div>
                         
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <p class="text-center"><h3>Using moveit grab and place object while avoiding object with PincherX 100 robotic arm.</h3></p>
                    </div>
                </a>

            </div>            

        </div>
    </div>
</section>

