<!-- <aside class="bg-primary" id="portfolio">
    <div class="container-fluid text-center">
      <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>ROBOTIC PROJECTS</h2>
      </div>
    </div>
</aside> -->



<section class="no-padding" id="portfolio">

    <div class="container-fluid">
        <div class="row no-gutter">



            <div class="col-lg-4 col-sm-6">
                <a href="project_builder/index" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/builder/mountain.JPEG" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Custom made robot uses wax to build different types of construction.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">Mobile 3D Printer Bot</h2>
                    </div>
                </a>

            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="project_sawback_/index" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/sawback/drawer_short.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pick and Place using a mobile platform with a robotic arm.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">SawBack</h2>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <!-- <a href="#cup_tower" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true"  > -->
                <a href="cup_tower_/index.html" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/Tower_Build/final_cup.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Build a tower of cups (up to 5 floors) using Baxter robot.
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">Cup Tower Builder</h2>

                    </div>
                </a>

            </div>





        </div>



        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="project_multi_agent_/index" class="portfolio-box" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <img src="img/portfolio/multi_agent/agents_circle.gif" class="img-responsive" alt="multi_agents">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div style="color:rgb(0, 0, 0)" class="project-name">
                                Autonomous multi-agent navigation with collision avoidance.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">Swarm of Robots</h2>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="project_grab_the_pen_/index" class="portfolio-box" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <img src="img/portfolio/grab_the_pen/grab_the_pen.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Grab a purple pen with color detection and depth camera. Place it inside a container
                                using PincherX 100 robotic arm.
                            </div>


                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">Grap The Pen</h2>
                    </div>
                </a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="project_turtle_slam_/index" class="portfolio-box" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <img src="img/portfolio/turtle_slam/auto_explore.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Simultaneous localization and mapping with autonomous exploration using turtleBot.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">TurtleBot Autonomous Exploration</h2>
                    </div>
                </a>
            </div>


        </div>
        <div class="row no-gutter">


            <div class="col-lg-4 col-sm-6">
                <a href="line_follow_/index" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/line_follow/robots.jpg" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Line Follow with custom robot.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">Line Follow</h2>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="project_pick_and_place_/index" class="portfolio-box" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <img src="img/portfolio/pick_and_place/rViz_arm.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Using MoveIt grab and place objects while avoiding obstacle objects with PincherX 100
                                robotic arm.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-caption">
                        <h2 class="text-center">Pick & Place</h2>
                    </div>
                </a>

            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="thiseas_/index" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/thiseas/thiseas.jpg" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Autonomous exploration/solution of a maze with custom robot.
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-caption">
                        <h2 class="text-center">Thiseas</h2>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="project_opt/index" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true">
                    <img src="img/portfolio/OPT/wamv-yellow.jpeg" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Autonomous surface vehicle for hydrographic surveys and marine awareness.
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-caption">
                        <h2 class="text-center">OPT - Ocean Power Technologies</h2>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>