<section id="resume">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SKILLS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 30%" src="img/skills/robotics.jpg" alt="Cinque Terre" width="130" height="130">
                    </span>
                    <br><br>
                    <h3>Robotics</h3>
                    <p class="text-muted">Robot Operation System (ROS)</p>
                    <p class="text-muted">Robotic Manipulation</p>
                    <p class="text-muted">Motion & Path Planning</p>
                    <p class="text-muted">Feedback Control Systems</p>
                    <p class="text-muted">Mechatronics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 30%" src="img/skills/programming.jpg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Programming</h3>
                    <p class="text-muted">Python</p>
                    <p class="text-muted">Matlab</p>
                    <p class="text-muted">C/C++</p>
                    <p class="text-muted">C#</p>
                    <p class="text-muted">Java</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 30%" src="img/skills/operating_system_1.jpg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Operating Systems</h3>
                    <p class="text-muted">Linux</p>
                    <p class="text-muted">Windows</p>
                    <p class="text-muted">Android</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 30%" src="img/skills/other.jpeg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Other</h3>
                    <p class="text-muted">Computer Vision</p>
                    <p class="text-muted">Machine Learning</p>
                    <p class="text-muted">Artificial Intelligence</p>
                    <p class="text-muted">OpenCV</p>
                    <p class="text-muted">OpenGL</p>
                    <p class="text-muted">GPU multiprocessing</p>
                    <p class="text-muted">Unity</p>
                    <p class="text-muted">Vuforia</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 30%" src="img/skills/microControl_3.jpeg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Micro-Controllers:</h3>
                    <p class="text-muted">Arduino</p>
                    <p class="text-muted">Teensy</p>
                    <p class="text-muted">Rasberry Pi</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 30%" src="img/skills/elect_eng.jpg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Designing</h3>
                    <p class="text-muted">PCB </p>
                    <p class="text-muted">3D printing</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer5"></div>
    <div class="row">
        <br><br>
        <div class="col-md-12 text-center">
            <div class="service-box">
                <a href="./Dimitrios_Resume.pdf" target="_blank" class="btn btn-primary btn-xl wow tada">Download Resume</a>
            </div>
        </div>
    </div>
</section>