<aside class="bg-primary" id="portfolio_introduction">
    <div class="container-fluid text-center">
      <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>SIMILATION</h2>
      </div>
    </div>
</aside>


<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#paper1" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/paper_01/video.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                3D Augmented Reality Tangible User Interface using Commodity Hardware
                            </div>
                            <div class="project-category text-faded">
                                Augmented Reality
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#paper2" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/paper_02/corner_detection.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                cMinMax: A Fast Algorithm to Find the Corners of an N-dimensional Convex Polytope
                            </div>
                            <div class="project-category text-faded">
                                Image Processing
                            </div>
                        </div>
                    </div>
                </a>
            </div>   
        </div>
    </div>
</section>
