<aside class="bg-primary" id="skills">
    <div class="container-fluid text-center">
      <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2>SKILLS</h2>
      </div>
    </div>
</aside>

<section >
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 100%" src="img/skills/robotics.jpg" alt="Cinque Terre" width="130" height="130">
                    </span>
                    <br><br>
                    <h3>Robotics</h3>
                    <p class="text-muted">Robot Operation System (ROS)</p>
                    <p class="text-muted">Robotic Manipulation</p>
                    <p class="text-muted">Object Detection and Recognition</p>
                    <p class="text-muted">Motion & Path Planning</p>
                    <p class="text-muted">Feedback Control Systems</p>
                    <p class="text-muted">Mechatronics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 100%" src="img/skills/programming.jpg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Programming</h3>
                    <p class="text-muted">Python</p>
                    <p class="text-muted">Matlab</p>
                    <p class="text-muted">C/C++</p>
                    <p class="text-muted">C#</p>
                    <p class="text-muted">Java</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 100%" src="img/skills/microControl_3.jpeg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Micro-Controllers:</h3>
                    <p class="text-muted">Arduino</p>
                    <p class="text-muted">Teensy</p>
                    <p class="text-muted">Rasberry Pi</p>
                    <p class="text-muted">PIC32</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fa-stack fa-4x">
                        <img style="border-radius: 100%" src="img/skills/other.jpeg" alt="Cinque Terre" width="130" height="130">  
                    </span>
                    <br><br>
                    <h3>Other</h3>
                    <p class="text-muted">Computer Vision Techniques</p>
                    <p class="text-muted">Machine Learning</p>
                    <p class="text-muted">Artificial Intelligence</p>
                    <p class="text-muted">OpenCV/OpenGL</p>
                    <p class="text-muted">Perception Algorithms and Techniques</p>
                    <p class="text-muted">GPU multiprocessing</p>
                    <p class="text-muted">Unity</p>
                    <p class="text-muted">Vuforia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer5"></div>
</section>