<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  <!-- {% include nav.html %}
  {% include contact.html %}
  {% include header.html %}
  {% include portfolio.html %}
  {% include simulator.html %} 
  {% include publications.html %}  
  {% include skills.html %}
  {% include about.html %}
  {% include scripts.html %}
  {% include modals.html %}
  {% include js.html %}
  {% include include_projects.html %} -->

  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}
  {% include team.html %}
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}

</body>

</html>