<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_introduction.html %}
  {% include portfolio.html %}
  {% include projects/project_cup_tower.html %} 
  {% include projects/project_multi_agent.html %} 
  {% include publications_introduction.html %}
  {% include publications.html %}  
  {% include projects/publications_01.html %}  
  {% include projects/publications_02.html %}  
  {% include resume.html %}
  {% include about.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>